
/*
    Name : Variables
*/
$z-index-escape-effect : 2;
$z-index-form : 3;
$z-index-nav-bar : 3;
$z-index-logo-bars : 4;
/*
    Name : Rules
*/
.btn-black {
    background-color: #000000eb;
    color: #fff;
    &:hover {
        color: #fff;
        background-color: #000;
    }
}
/*
    Name : User-Form Kit
*/
.btn-center {
    display: block;
    margin: 0 auto;
}
#escape-effect-form {
    position: fixed;
    width: 100%;
    background-color: #000;
    opacity: .5;
    z-index: $z-index-escape-effect;
    &.active {
        height: 100vh;
    }
}
.pop-up-form {
    position: fixed;
    width: 380px;
    max-width: 95%;
    background-color: #fff;
    box-shadow: 0px 1px 3px #a2a2a2;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-80%) scale(0);
    z-index: $z-index-form;
    padding: 2rem;
    transition: transform .3s ease-in-out;
    &.active {
        transform: translate(-50%,-80%) scale(1);
    }
    .select {
        display: flex;
        justify-content: space-between;
        margin: 1rem;
        background-color: #E2F8E3;
        color: #1F8B24;
        padding: 5px;
        border-radius: 10px;
        > .option {
            padding: 0.2rem 1rem;
            cursor: pointer;
            transition: background-color .2s ease-in-out;
            &.active {
                background-color: #fff;
                color: #000;
                border-radius: 10px;
            }
        }
    }
    .login-or-register {
        display: flex;
        justify-content: space-between;
        align-items: center;
        > span {
            text-align: center;
            margin-left: 1rem;
        }
    }
    .login-with {
        display: flex;
        justify-content: space-evenly;
        margin-top: 1.5rem;
        .svg-inline--fa {
            font-size: 3rem;
        }
        .fa-google {
            color: #000;
        }
    }
}
/*
    Name : Navbar
*/
nav {
    position: fixed;
    z-index: 1;
    width: 100vw;
    background-color: var(--primary);
    padding: 0 1.5rem;
    #escape-effect-nav {
        position: fixed;
        width: 100%;
        background-color: #000;
        opacity: .5;
        z-index: $z-index-escape-effect;
        &.active {
            height: 100vh;
        }
    }
    .bars {
        position: relative;
        cursor: pointer;
        display: inline-block;
        width: 1.5rem;
        .bar {
            width: 1.5rem;
            height: 3px;
            background-color: #fff;
            display: block;
            margin: 3px 0;
        }
        .bar:nth-child(3){
            width: .75rem;
        }
        &:hover .bar {
            animation: none;
            animation: bar .3s ease-in-out ;
            animation-fill-mode: forwards;
        }
        .bar:nth-child(2){
            animation-delay: .2s;
        }
        &:hover .bar:nth-child(3){
            animation: lastBar .3s ease-in-out .4s forwards;
        }
        &.nav-bar {
            z-index: $z-index-logo-bars;
            .bar {
                background-color: #000;
            }
        }
    }
    #nav-bar {
        position: absolute;
        z-index: $z-index-nav-bar;
        width: 300px;
        height: 100vh;
        top: 0;
        left: -300px;
        background-color: #fff;
        transition: left 400ms ease-in-out;
        &.active {
            left: 0;
        }
        > ul {
            margin-top: 5rem;
            padding-left: 0;
            > li {
                list-style-type: none;
                width: 90%;
                > a {
                    color:#000;
                    padding: 1rem;
                    padding-left: 2rem;
                    width: 100%;
                    display: block;
                    border-radius: 0 10px 10px 0;
                    transition: padding 300ms ease-in-out , color 200ms ease-in-out;
                    &:hover{
                        text-decoration: none;
                        color: #0F56B3;
                        padding-left: 2.5rem;
                    }
                    &.active {
                        color: #0F56B3;
                        background-color: #C5DCFA;
                    }
                    > .svg-inline--fa {
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
    .logo {
        color: #fff;
        margin: 0 2rem;
    }
    .logo.nav-bar {
        color: #000;
        z-index: $z-index-logo-bars;
    }
    .search {
        padding: 1rem;
        position: relative;
        > input {
            width: 13rem;
            border:none;
            border-radius: 100px;
            padding:.5rem 1rem;
            transition: width .3s ease-in-out;
            &:focus{
                outline: none;
                width: 19rem;
            }
        }
        > .svg-inline--fa {    
            position: absolute;
            top: 50%;
            right: 15%;
            transform: translateY(-50%);
            transition: opacity .2s ease-in-out;
        }
        > input:focus + .fa-search {
            opacity: 0;
        }
    }
    .user-cart {
        > .circle {
            background-color: #fff;
            width: 50px;
            height: 50px;
            padding: 1rem;
            margin: 0 .5rem;
            border-radius: 100%;
            position: relative;
            cursor: pointer;
            &.search-icon {
                display: none;
            }
            > .svg-inline--fa {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 1.3rem;
            }
        }
    }
}

@keyframes bar {
    from {
        width: 0;
    }
    to {
        width: 1.5rem;
    }
}
@keyframes lastBar {
    from {
        width: 0;
    }
    to {
        width: .75rem;
    }
}

/*
    Name : Slider
*/
.slider {
    .photo {
        > img {
            width: 100%;
            height: 600px;
            object-position: 0 28%;
            object-fit: cover;
        }
    }
}

/*
    Name : Stores
*/
.stores {
    margin: 5rem 0;
    .store {
        cursor: pointer;
        .logo {
            width: 200px;
            height: 200px;
            margin: 0 auto;
            border-radius: 100%;
            overflow: hidden;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform .3s ease-in-out;
            }
        }
        .name {
            text-align: center;
            margin: 1rem 0;
            > h3 {
                color: #000;
            }
        }
        &:hover {
            text-decoration: none;
        }
        &:hover .logo > img {
            transform: scale(1.2);
        }
    }
}

/*
    Name : Categories
*/
.categories {
    .grid {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 250px 250px;
        justify-content: space-between;
        .category {
            position: relative;
            &:nth-child(2){
                grid-area: 1/2 / 3/ 3;
            }
            &:nth-child(6){
                grid-area: 2/3 / 3/ 5;
            }
            &:hover::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                top:0;
                left:0;
                width: 100%;
                height: 100%;
                background-color: #4b4b4b85;
            
            }
            &:hover > .photo > img {
                transform: scale(1.2);
            }
            &:hover > .lable {
                bottom: 50%;
                left: 50%;
                z-index: 2;
                transform: translate(-50%,50%);
                background-color: transparent;
            }
            > .photo {
                height: 100%;
                overflow: hidden;
                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: transform 500ms ease-in-out;
                }
            }
            > .lable {    
                position: absolute;    
                bottom: 10px;
                left: 10px;
                background-color: #000;
                color: #fff;
                padding: .5rem 1rem;
                transition: bottom 400ms ease-in-out ,left 400ms ease-in-out ,transform 400ms ease-in-out;
                > h4 {
                    font-weight: 200;
                }
            }
        }
    }
}

/*
    Name : Products
*/
.products {
    margin: 5rem 0;
    h2 {
        margin: 1rem;
        margin-bottom: 2rem;
    }
    .product {
        width: 15rem;
        height: 113px;
        margin: 0 1rem;
        box-shadow: 0px 0px 5px #a2a2a2;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        animation: product 1s ease-in-out forwards;
        cursor: pointer;
        > img{width: 114%;
            height: 210px;
            object-fit: cover;
            object-position: 81% 100%;
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
        > .product-details{
            width: 100%;
            bottom: 0;
            position: absolute;
            left: 50%;
            transform: translate(-50%);
            border-radius: 20px;
            background-color: #fff;
            > .separator{
                display: block;
                width: 50%;
                height: 1px;
                background-color: #00000024;
                margin: 0 auto;
            }
            > .price > del{
                color: #838383a3;
            }
        }
    }
}
@keyframes product {
    from {
        height: 113px;
    }
    to {
        height: 300px;
    }
}
/*
    Name : Row-Show Kit
*/
.row-show-container {
    position: relative;
}
.row-show {
    display: flex;
    width: 100%;
    padding-bottom: 1rem;
    overflow-x: auto;
}
.row-show .product {
    flex-shrink: 0;
}
.row-show::-webkit-scrollbar-track
{
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
.row-show::-webkit-scrollbar
{
    height: 5px;
    background-color: #F5F5F5;
}
.row-show::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgb(133, 133, 133);
}
.row-show-container .left-arrow , .row-show-container .right-arrow {
    position: absolute;
    z-index: 1;
    cursor: pointer;
    display: none;
}
.row-show-container .left-arrow {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.row-show-container .right-arrow {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.row-show-container .left-arrow > svg ,.row-show-container .right-arrow > svg {
    font-size: 2rem;
    background-color: #fff;
    border-radius: 100%;
}
.row-show-container .right-arrow.active ,.row-show-container .left-arrow.active {
    display: block;
}

/*
    Imported files
*/
@import 'mobile.scss';